<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CATALOG</title>
</head>
<h1> CATALOG </h1>
===================================================================

 <nav role="navigation">
     <a href="/">HOME PAGE</a> |
     <a href="/about_shop">ABOUT SHOP</a> |
     <a href="{% url 'shop' %}">CATALOG</a> |
     <a href="{% url 'cart' %}">CART</a> |
     <a href="{% url 'login' %}">
         {% if user.is_authenticated %}
             {{user.username}}
         {% else %}
             LOG IN
         {% endif %}
     </a> |
     <a href="{% url 'logout' %}">LOG OUT</a> |
   </nav>
===================================================================
<body>
<h1>LIST OF AVAILABLE PRODUCTS:</h1>

{% for product in object_list %}
<div class="col-12 col-lg-4 col-md-6 item"></div>
    <div class="card" style="width: 18rem;"></div>
    <form method="post" action="{% url 'add_item_to_cart' product.pk %}">

          <div class="card-body">
              <h3 class="card-title"><b>{{product.name}}</b></h3>
<!--              <img  src={product.image_url}>-->

              <p class="card-text">
              {{product.comment}}
                  </p>
                  <h4 class="card-title"><b>price: {{product.price}}</b></h4>

              </div>
        <li class="list-group-item">
              {% csrf_token %}
        <label class="form-label" for="id_quantity"> quantity: </label>
        <input type="number" name="quantity" value="1" min="1"
        required id="id_quantity"/>
        </li>
        <div class="card-body">


            <button class="learn-more-btn" type="submit">buy</button>


    </div>
    </form>
        ___________________HYDRA___________________
{% endfor %}

</body>
</html>

