{% extends 'base.html' %}


{% load static %}
{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CATALOG</title>
</head>
<h1> CATALOG </h1>


<body>
<h1>LIST OF AVAILABLE PRODUCTS:</h1>




{% for product in object_list reversed %}

<div class="col-12 col-lg-4 col-md-6 item"></div>
    <div class="card" style="width: 18rem;"></div>
    <form method="post" action="{% url 'add_item_to_cart' product.pk %}">

          <div class="card-body">

              <h3 class="card-title"><b>{{product.name}}</b></h3>

              <p class="card-text">
              {{product.comment}}
                  </p>
                  <h4 class="card-title"><b>price: {{product.price}}</b></h4>

              <h2 class="card-title"><b>{{product.name}}</b></h2>
              <div class="media">
                  {% if product.image %}
                  <img src="{{ product.image.url }}" height="150">
                  {% else %}

                  {% endif %}
                  <div class="media-body"></div>
              </div>

              <h4 class="card-title"><b>{{product.comment}}</b></h4>
              <h3 class="card-title"><b>price: {{product.price}}</b></h3>
              </div>
        <li class="list-group-item">
              {% csrf_token %}
        <label class="form-label" for="id_quantity"> quantity: </label>
        <input type="number" name="quantity" value="1" min="1"
        required id="id_quantity"/>
        </li>
        <div class="card-body">
            <button class="learn-more-btn" type="submit">buy</button>
            <button class="learn-more-btn" type="submit">ADD TO CART</button>

    </div>
    </form>

{% endfor %}

</body>
</html>

{% endblock %}