<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT HYDRA</title>
</head>
<h1> ABOUT SHOP </h1>

===================================================================

 <nav role="navigation">
     <a href="/">HOME PAGE</a> |
     <a href="/about_shop">ABOUT SHOP</a> |
     <a href="{% url 'shop' %}">CATALOG</a> |
     <a href="{% url 'cart' %}">CART</a> |
     <a href="{% url 'login' %}">
         {% if user.is_authenticated %}
             {{user.username}}
         {% else %}
             LOG IN
         {% endif %}
     </a> |
     <a href="{% url 'logout' %}">LOG OUT</a> |
   </nav>
===================================================================
<body>
<h1> ABOUT MY SHOP: </h1>
The store was implemented as a course project, the following technology stack was used during creation: python, OOP, django and HTML.
The store was chosen as the course project, as it allowed me to learn those features of the framework that are most necessary when creating almost any site.
I hope my resource was useful and you were able to find what you were looking for!
</body>
</html>
