{% extends 'base.html' %}


{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">


    <title>ABOUT SHOP</title>

</head>
<h1> ABOUT SHOP </h1>

<body>
<h1> ABOUT MY SHOP: </h1>
The store was implemented as a course project, the following technology stack was used during creation: python, OOP, django and HTML.
The store was chosen as the course project, as it allowed me to learn those features of the framework that are most necessary when creating almost any site.
I hope my resource was useful and you were able to find what you were looking for!
</body>
</html>
{% endblock %}